.App {
    font-family: sans-serif;
  }
  
  ul {
    margin: 0;
  }
  
  p.error {
    color: red;
  }
  
  button.remove {
    margin-right: 10px;
  }
  
  .dropzone {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: 3px dashed #bdbdbd;
    color: #bdbdbd;
    width: 389px;
    height: 294px;
    border-radius: 14px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .accept {
    border-color: #107c10 !important;
  }
  
  .reject {
    border-color: #d83b01 !important;
  }
  